*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(26, 23, 26);
  height: 10px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb{
  background-color: #6521ff;
  border-radius: 8px;
}

/*#8a2be2*/

body{
  background-color: black;
  color: white;
}